body{
  background-image: url(https://cdn.pixabay.com/photo/2020/04/25/03/26/bokeh-5089348_960_720.jpg);
  background-blend-mode: lighten;
  font-size: 20px;
  font-display: block;
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
}

header{
  position: fixed;
  border: 2px solid gray;
  background-color: black;
  border-radius: 2px;
  text-align: center;
  margin: 1em;
  font-size: larger;
  font-weight: bold;
  color: white;
  z-index: 11;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 50%;
}

.container{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
  flex: 0 1 auto;
}

.info, .bio{ 
  background-color: #4e5154;
  border-radius: 10px;
  position: relative;
  border: 2px solid black;
  margin-bottom: 2em;
  text-align: center;
  z-index: 10;
  color: #c6cacf;
}

.bio{
  padding: 5px 1em 1em 1em;
}

.info{
  width: 230px;
  float: left;
  margin: 5px;
  padding: 5px;
  clear: left;
}

h2{
  text-decoration: underline;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  justify-content: center;
}

li{
  margin: 1px;
  padding-bottom: 3px;
  list-style-type: decimal;
  list-style-position: inside;
}


